
# macOS
*.DS_Store

# material
*/material/* 

*.odg

# python
*/.python-version

# venv
venv-teii/*

# Jupiter checkpoints
*/.ipynb_checkpoints/*

# Ejercicios
bloque3/Python/src/poema.txt
bloque3/Python/src/salida
bloque3/Python/src/ficheropalabras
